<div  class="shop-usps bg-color--black" style=" background-color: black;">
   <div class="di di--1" >
      <div class="wrapper-usp ">
         <div class="shop-usp" >
            <div class="icons IconAirplane" data-v-2fc55acf="">
               <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" width="1000px" height="1000px" viewBox="0 0 1000 1000" enable-background="new 0 0 1000 1000" xml:space="preserve">
                  <g>
                     <g>
                        <ellipse fill="none" stroke="#FFFFFF" stroke-width="20" stroke-miterlimit="10" cx="385.333" cy="517.897" rx="165.667" ry="138.232"></ellipse>
                        <line fill="none" stroke="#FFFFFF" stroke-width="20" stroke-miterlimit="10" x1="107.667" y1="312.75" x2="707.667" y2="312.75"></line>
                        <polyline fill="none" stroke="#FFFFFF" stroke-width="20" stroke-miterlimit="10" points="532,455.5 808,455.5 808,510 539,571.5       "></polyline>
                        <line fill="none" stroke="#FFFFFF" stroke-width="20" stroke-miterlimit="10" x1="243.5" y1="721" x2="551" y2="721"></line>
                        <line fill="none" stroke="#FFFFFF" stroke-width="20" stroke-miterlimit="10" x1="315" y1="641.5" x2="315" y2="721"></line>
                        <line fill="none" stroke="#FFFFFF" stroke-width="20" stroke-miterlimit="10" x1="481" y1="635.5" x2="481" y2="715"></line>
                        <line fill="none" stroke="#FFFFFF" stroke-width="20" stroke-miterlimit="10" x1="397.875" y1="303.5" x2="397.875" y2="383"></line>
                        <polygon fill="none" stroke="#FFFFFF" stroke-width="15" stroke-miterlimit="10" points="837.667,365.667 884.667,365.667     876.334,511 807.001,511 807.001,454   "></polygon>
                        <path fill="none" stroke="#FFFFFF" stroke-width="20" stroke-miterlimit="10" d="M417,382.5c0,0,34,38.5,20,95.5s-61,82-107.5,83    s-101.609,0-101.609,0"></path>
                     </g>
                     <rect x="373.5" y="270" fill="#FFFFFF" width="48.75" height="38"></rect>
                  </g>
               </svg>
            </div>
            <div class="text" data-v-2fc55acf="">
               Free Delivery

            </div>
            <div class="additional-text" data-v-2fc55acf="">
               Fast & easy 
            </div>
         </div>
       <div class="shop-usp" >
            <div class="icons IconKlarna" >
               <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 88.78 19.2" data-v-2fc55acf="" class="">
                  <path d="M86.25 14.22a2.45 2.45 0 102.53 2.45 2.49 2.49 0 00-2.53-2.45zM78 6.64a7.23 7.23 0 00-4-1.19 7 7 0 00-7.1 6.87A7 7 0 0074 19.2a7.23 7.23 0 004-1.2v.83h4v-13h-4zm-3.66 9a3.51 3.51 0 01-3.65-3.36 3.66 3.66 0 017.3 0 3.51 3.51 0 01-3.7 3.4zM59.71 5.46a5 5 0 00-4.15 1.82V5.81h-4v13h4.06V12a2.79 2.79 0 013-3 2.58 2.58 0 012.8 3v6.88h4v-8.33c.02-3.03-2.42-5.09-5.71-5.09zM45.72 7.51v-1.7H41.6v13h4.13v-6.05c0-2.06 2.3-3.16 3.89-3.16h.05V5.81a5.11 5.11 0 00-3.95 1.7zM35.47 6.64a7.23 7.23 0 00-4-1.19 7 7 0 00-7.1 6.87 7 7 0 007.1 6.88 7.23 7.23 0 004-1.19v.83h4v-13h-4zm-3.66 9a3.51 3.51 0 01-3.65-3.36 3.66 3.66 0 017.29 0 3.51 3.51 0 01-3.64 3.4zM18.51 0h4.21v18.84h-4.21zM15.61 0h-4.37a10.69 10.69 0 01-4.51 8.73L5 10l6.7 8.86h5.51L11 10.7A14.76 14.76 0 0015.61 0zM0 0h4.46v18.84H0z" data-v-2fc55acf=""></path>
               </svg>
            </div>
            <div class="text" data-v-2fc55acf="">
            Pay later

            </div>
            <div class="additional-text" data-v-2fc55acf="">
               Part payment & Invoice
            </div>
         </div>
         <div class="shop-usp" >
            <div class="icons IconShippingBox" data-v-2fc55acf="">
               <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" width="1000px" height="1000px" viewBox="0 0 1000 1000" enable-background="new 0 0 1000 1000" xml:space="preserve">
                  <g>
                     <polygon fill="none" stroke="#FFFFFF" stroke-width="20" stroke-miterlimit="10" points="193.021,562.886 661.109,266.04    825.208,379.952 356.238,683.018  "/>
                     <polygon fill="none" stroke="#FFFFFF" stroke-width="20" stroke-miterlimit="10" points="193.021,379.066 363.424,266.04    825.208,568.262 661.991,683.018  "/>
                     <polyline fill="none" stroke="#FFFFFF" stroke-width="20" stroke-miterlimit="10" points="310.504,651.266 310.504,735.938    521.68,843.543 715.373,727.865 720.63,641.782  "/>
                     <line fill="none" stroke="#FFFFFF" stroke-width="20" stroke-miterlimit="10" x1="518.5" y1="587.604" x2="518.5" y2="834.936"/>
                  </g>
               </svg>
            </div>
            <div class="text" data-v-2fc55acf="">
            30 days return policy
            </div>
            <div class="additional-text" data-v-2fc55acf="">
              Try at home
            </div>
         </div>
      </div>
   </div>
</div>


{% schema %}
  {
    "name": "USP",
    "settings": [
     {
        "type": "header",
        "content": "USP"
      }
    ],
    "presets": [
      {
        "name": "UPS",
        "category": "Text"
      
      }
    ]
  }
{% endschema %}
